<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swjt.community.mapper.ArticleMapper">
    <select id="listByDate" resultType="com.swjt.community.entity.Article">
        select * from article order by add_time desc
    </select>

    <select id="listByCategory" parameterType="java.lang.String" resultType="com.swjt.community.entity.Article">
    select * from article where id in (select article_id from article_category where category_id = #{categoryId} ) order by add_time desc
    </select>

</mapper>
